<html>
  <body>
    <h3>INDEX_PAGE</h3>
    <p>current_state : {{ state }} </p>
    <a href = mailto:"{{state}}"><input type="submit" value="to mail"></a>
    <a href = "/logout"><input type="button" value="log-out" onclick="alert('log-out!!')"></a> 
    <hr>
    <a href = "/user_add">user_ADD</a> <br>
    <a href = "/user_list">user_List</a> <br>
    <a href = "/login">login</a> <br>
    <a href = "/user_mod">user_mod</a> <br>
    <a href = "/board">board</a> <br>
    <a href = "/User_del">User_del</a> <br>
  </body>
</html>





