<html>
  <body>
    <h3>INDEX_PAGE</h3>
    <p>current_state : {{ state }} </p>
    <a href = mailto:"{{state}}"><input type="submit" value="to mail"></a>
    <a href = "/logout"><input type="button" value="log-out"</a>
    <hr>
    <a href = "/user_add">Register</a> <br>
    <a href = "/user_list">user_List</a> <br>
    <a href = "/login">Login</a> <br>
    <a href = "/user_mod">User_mod</a> <br>
    <a href = "/user_del">User_del</a> <br>
    <br>
    <a href = "/board">Board</a> <br>
  </body>
</html>





